h1{
  background-color: blue;
  text-align: center;
}
body{
/*  this is my css sheet*/
  width: 100%
}
/*universal selector*/
*{
  margin: 0;
}
#ID{

}
.class{

}
/*decendant selector*/
ul.menu li a{

}
/*child selector*/
ul > li {

}
/*adjacent selector*/
hi + p {

}
/*group selector*/
.menu, hi, h2, div, a{

}
